body {
  margin: 100px 70px;
  background: #EFF8FB;
}

header > h1 {
  padding: 20px;
  border: 7px solid black;
  font-family: "Didot";
  font-size: 50px;
  text-align: center;
}

div > h2 {
  font: bold 40px 'Times New Roman' serif;
}
div > h3 {
  font: bold 30px 'Times New Roman' serif;
  padding-left: 40px;
}

main > div {
  background-color: #fbfbfb;
  padding: 25px 50px;
}

ul {
  padding-top: 30px;
}
ul > li {
  padding-left: 50px;
  padding-right: 50px;
  margin: 50px;
  border-left: 4px solid black;
  list-style-type: none;
}

li > h4 {
  font: bold 24px 'Times New Roman' serif;
}
li > p {
  font: 18px/24px 'Times New Roman' serif;
  padding-bottom: 20px;
}
